@model TruyenKhanh.Models.TruyenYeuThich

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    <img src="~/Content/Images/logo1.png" width="1200" height="300" />
</div>
<h2>Xem thông tin chi tiết</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenYT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenYT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index", "Admin")
</p>
